<h1>Locations</h1>

<h3 class="expander" (click)="toggleSurface()">Surface</h3>
<div [hidden]="!showSurface">
  <img src="../../assets/images/ferro-surface.png" width="1200px" />
</div>

<h3 class="expander" (click)="toggleSublevelOne()">Sublevel 01</h3>
<div [hidden]="!showSublevelOne">
  <img src="../../assets/images/ferro-sl-1.png" width="1200px" />
</div>

<h3 class="expander" (click)="toggleSublevelTwo()">Sublevel 02</h3>
<div [hidden]="!showSublevelTwo">
  <img src="../../assets/images/ferro-sl-2.png" width="1200px" />
</div>

<h3 class="expander" (click)="toggleSublevelThree()">Sublevel 03</h3>
<div [hidden]="!showSublevelThree">
  <img src="../../assets/images/ferro-sl-3.png" width="1200px" />
</div>

