<h1>Salaries and Expenses</h1>

<h3 class="expander" (click)="toggleShowSalaries()">Salaries</h3>
<div [hidden]="!showSalaries">
  <div>
    <span class="title">Ship's Captain</span>
    <br/>
    $ 3,000/wk
    <br />
    <span class="assignee">Sean Bravo</span>
    <br/>
    <br/>
  </div>

  <div>
    <span class="title">Company Liaison</span>
    <br/>
    $ 1,700/wk
    <br />
    <span class="assignee">Adam Baker</span>
    <br/>
    <br/>
  </div>

  <div>
    <span class="title">Medical Personnel</span>
    <br/>
    $ 1,500/wk
    <br />
    <span class="assignee">Zoe Price</span>
    <br/>
    <br/>
  </div>

  <div>
    <span class="title">Security Personnel</span>
    <br/>
    $ 1,300/wk
    <br />
    <span class="assignee">Hana XIII</span>
    <br/>
    <br/>
  </div>

  <div>
    <span class="title">Support Staff</span>
    <br/>
    $ 1,100/wk
    <br />
    <span class="assignee">Jason Sorensen</span>
    <br/>
    <span class="assignee">Roy "Bolt" Stark</span>   
    <br/>
    <br/>
  </div>
</div>

<h3 class="expander" (click)="toggleShowHousing()">Expenses</h3>
<div [hidden]="!showHousing">
  <div>
    <span class="title">Ship's Fuel (Max of 5 Power Supply)</span>
    <br/>
    $ 100,000/Power Supply
    <br/>
    <br/>
  </div>

  <div>
    <span class="title">Spare Parts (Max 10)</span>
    <br/>
    $ 100,000/ea
    <br/>
    <br/>
  </div>

  <div>
    <span class="title">Medical Supplies (Max 2)</span>
    <br/>
    $ 20,000/restock
    <br/>
    <br/>
  </div>

</div>

<h3 class="expander" (click)="toggleShowFoodPlans()">Food Plans</h3>
<div [hidden]="!showFoodPlans">

  <div>
    <span class="title">Food Stores (Max 4 Weeks)</span>
    <br/>
    $ 10,000/week
    <br/>
    <br/>
  </div>

</div>