<img src="../../assets/images/ferro-splash.png" />

<div>
  <h1>Introduction</h1>
  You are the crew of the <span class="ship-name">USCSS Celerity</span>.
  You regularly perform routine supply runs to the secretive Weyland-Yutani facility, Ferro Outpost,
  located in the Outer Rim Territories. Despite being a routine mission, it pays very well due to the
  aggressive climate of the small planet that Ferro Outpost is located on. Being the last stop in the supply run,
  part of the routine is to refuel the ship's planetfall capable shuttle <span class="ship-name">The Missus</span>,
  which tends to be low on fuel by this stage of the "Ferro Run."
  <br /><br />
  The planet is far enough from its star that it is in a state of permafrost and always has freezing temperatures.
  It seems inhospitable, but this was part of the appeal when Weyland-Yutani built Ferro Outpost for top secret
  Research and Development; less prying eyes will be willing to face the cold so fierce that it can literally freeze
  exposed fuel lines.
  <br /><br />
</div>

<div class="video-links">
  <h3>Previous Sessions</h3>
  <span class="session-date">&nbsp;</span>
  <ul>
    <li>
      <a href="https://youtu.be/wqQxZzYfeCw" target="_blank">June 23rd, 2020</a>
    </li>
  </ul>
</div>