<h1>Locations</h1>

<h3 class="expander" (click)="toggleOverview()">Devil's Peak Colony Overview</h3>
<div [hidden]="!showOverview">
  <img src="../../assets/images/devils-peak.png" />
</div>

<h3 class="expander" (click)="toggleDetailedOverview()">Devil's Peak Colony Full Details</h3>
<div [hidden]="!showDetailedOverview">
  <img src="../../assets/images/devils-peak-detailed.png" width="1200px" />
</div>

<h3 class="expander" (click)="toggleAdminBuilding()">Administration Building</h3>
<div [hidden]="!showAdminBuilding">
  <img src="../../assets/images/admin-building-f1.png" width="1200px" />
  <img src="../../assets/images/admin-building-f2.png" width="1200px" />
</div>

<h3 class="expander" (click)="toggleEntertainmentBuilding()">Entertainment Building</h3>
<div [hidden]="!showEntertainmentBuilding">
  <img src="../../assets/images/entertainment-building.png" width="1200px" />
</div>

<h3 class="expander" (click)="toggleGreenhouse()">Greenhouse</h3>
<div [hidden]="!showGreenhouse">
  <img src="../../assets/images/greenhouse.png" width="1200px" />
</div>

<h3 class="expander" (click)="toggleHousingBuilding()">Housing Buildings</h3>
<div [hidden]="!showHousingBuilding">
  <img src="../../assets/images/housing-buildings.png" width="1200px" />
</div>

<h3 class="expander" (click)="toggleShops()">Shops</h3>
<div [hidden]="!showShops">
  <img src="../../assets/images/shops.png" width="1200px" />
</div>
