<img src="../../assets/images/helix-splash.png" />

<div>
  <h1>Introduction</h1>
  Called Helix because it falls within the binary star system of NN3503, Helix 4 is a harsh mistress with fluctuating temperatures. With an 18 hour rotation, combined with an axis tilt towards its brightly burning blue and white stars, the poles of Helix 4 either constantly receive light (in the North) or shadow (in the South), while the regions near the equator see regular daylight upwards of 15 hours. The general climate is tropical, with a breathable, yet sweltering, high humidity atmosphere.
  <br /><br />
  Because of the worries of mental health issues resulting from the extremes in the night and day cycle, original plans to colonize the planet had been put on hold when it was first discovered, despite the breathable atmosphere. However, recently, the USS Science Exploratory Vessel Aggrand discovered rich deposits on Neodymium and Uranium.
  <br /><br />
  As such, our group of colonists have been re-directed to setup a new base colony, in addition to sites for future mining operations, on Helix 4. Our ship, the <span class="ship-name">USCSS Pangola</span>, is a Class R planet-fall capable ship which houses food and water stores, tractors, and other essentials necessary to begin construction of the colony on this harsh new world.
  <br /><br />
</div>

<div>
  <h1>The Story So Far</h1>
  The crew of <span class="ship-name">USCSS Pangola</span> has awakened from cryo to the surprise destination. First readouts show the planet to be a paradise. However, there is nearby, silent, USS Science Vessel, the <span class="ship-name">Aggrand</span> which, after some successful hacking, revealed that some kind of infectious parasite
  had infected certain ground team investigation members. They also reported some kind of hive that had originally been thought to be the ruins of an ancient civiliation. These now bring up concerns about whether or not Captain Pike should follow company orders and land on Helix.
  <br /><br />
  A meteor shower, which resulted in the deaths of 2 cryo-passengers: Medical Officer Melissa Dougal and Miner Benjamin Max, forced our crew out of orbit and into an early landing, despite worries about possible parasites and other concerns, that had been detected and report by the <span class="ship-name">USS Aggrand</span>.
  <br /><br />
  With Pilot Graves at the helm it was a near perfect landing, smooth, quick, and ultimately safe. In recognition of his skill, Captain Pike declared the site to be further called "Graves Landing."
  <br /><br />
  Once on the surface, near Lake Schmidt, named after the colony Company Agent, Captain Pike began to direct his team to plan for the worst and to investigate a landed <span class="ship-name">Aggrand</span> shuttle.
  <br /><br />
  With a recently verified breathable atmosphere, and fresh, nearby water source, our crew has to decide what to do next, but at least they now have so "breathing" room.
  <br /><br />
  Transmissions have been received from a downed <span class="ship-name">Aggrand EEV</span> with signs of 5 possible survivors. Perhaps these survivors will have the answers that Captain Pike has been looking for.
</div>