<img src="../../assets/images/undying-light-splash.png" />

<h1 class="expander" (click)="toggleShowIntro()">Introduction</h1>
<div *ngIf="showIntro">
  “Some people, they say that they fear what lies in the darkness, hiding in the deep shadows waiting for them. News of incidents across the Frontier and Outer Rim talk of monsters and aliens; corporate sabotage and cover-ups; of UA on UPP hostilies.
  <br />
  <br />
  "Talk out there makes space seem dark, dead, and empty; a place where a light in the darkness gives hope and courage.
  <br />
  <br />
  "Obviously, none of those fuckers have ever visited NN3325, Devil’s Peak. Claimed by the UA under Seegson control, Devil’s Peak is a planet that never gets to see the darkness that everyone else seems to fear so much. Trapped in a ternary star system, with stars of white, blue and yellow, all of the surface areas of Devil’s Peak are bombarded by constant light.
  <br />
  <br />
  "So why in the fuck did we settle here? Money, and isn’t that always the case out here? Re-routed from Alpha Linna after it was claimed by the ICSC, us poor “shake and bake” colonists were dropped on this resource rich rock with prospects of unrivaled resources, which should yield unrivaled cash flow.
  <br />
  <br />
  "That was 33 years ago. The colony definitely got situated and up and running beautifully. Mining operations were quickly established, pulling raw gold, hydrogen, and uranium from the belly of this beast. The colony  is nestled neatly in the only valley on this desert world: in the blown out caldera of some extinct volcano, which our founder Oswald Gram, dubbed Devil’s Peak, since he felt that we’d been sent to hell itself.
  <br />
  <br />
  "In the last 33 years we’ve seen plenty of people come and go; mostly go. Now down to a skeleton crew of people who maintain the facilities and watch over the Joes that labor day and, well, day, we keep this place from falling apart and making money for the Company. And hopefully, we don’t just lose our fucking minds like so many others who couldn’t stand the constant light.”
  <br />
  <br />
  <br />
  <span class="signature">- Colony Administrator, Leif Grausman</span>
  <br /><br />
</div>

<h1 class="expander" (click)="toggleShowStory()">The Story So Far</h1>
<div *ngIf="showStory">
  <div class="video-links">
    <h3>Session 1: Welcome to Devil's Peak</h3>
    <span class="session-date">Ran on Saturday June 13, 2020</span>
    <ul class="stacked">
      <li>
        <a href="https://youtu.be/Y_AVgnM1O9o" target="_blank">MacCrawInTheJaw (Sean Bravo)</a>
      </li>
      <li>
        <a href="https://youtu.be/qq8vVK3wrlw" target="_blank">NocFenix (GM: Contains Spoilers!)</a>
      </li>
    </ul>
  </div>
  Our story follows a group of individuals who have been sent to relieve the old crew tasked with maintaining Devil's Peak colony for Seegson.
  Some of these people were already well acquainted and part of a ship's crew; others are complete strangers to each other.
  <br /><br />
  After receiving a tour from the previous Colony Administrator, our group was left to their own devices, including deciding who should be the primary overseer of the colony.
  Deciding to take charge, Captain Sean Bravo, now Colony Adminstrator Sean Bravo, first tasked out everybody's jobs, pay, and housing in the APOLLO mainframe.
  <br /><br />
  After repairing a WY-37A Cargo Lifter Transport Sled, Pilot Sorensen and Mechanic Bolt took a joy-ride in the Sled and did a flyby of the area to get a feel for their new home.
  During the flyby, they noticed buried in the sands on the other side of the mountain range a Weyland-Yutani ship of some kind.

  <div class="video-links">
    <h3>Session 2: Uninvited Guests</h3>
    <span class="session-date">Ran on Saturday June 20, 2020</span>
    <ul class="stacked">
      <li>
        <a href="https://youtu.be/T2rRSXQUk40" target="_blank">MacCrawInTheJaw (Sean Bravo)</a>
      </li>
      <li>
        <a href="https://youtu.be/akt_leoy2cc" target="_blank">(1/2) NocFenix (GM: Contains Spoilers!)</a>
      </li>
      <li>
        <a href="https://youtu.be/RqmEPYOOw6o" target="_blank">(2/2) NocFenix (GM: Contains Spoilers!)</a>
      </li>
    </ul>
  </div>

  Before being able to properly explore the find, the group had a run in with some heavily armed mercenaries who landed and demanded five million in cash as protection money.
  <br /><br />
  During a "civil" discussion with the leader of this group, Sean eventually turned them away and kept the money for himself. Their captain left quickly after that, seeming quite disappointed.
  Sean however, is hoping that with the $5 million, plus some hacking espionage done by Zoe and Hana XIII, will keep things in the colony's favor.
  <br /><br />
  With that loose end tied up, the group set out to explore the wreckage in the sands. Inside they encountered a crazed 15 year old girl who attacked them, and nearly killed Marshal Mathers.
  Bolt went his own way, and soon realized in his haste that he'd been exposed to high levels of radiation.
  After evacuating with Hana XIII, Bolt and her waited for the group to pick them up and bring them back to the colony, where the others had gone to get treatment for the Marshal.
  
  <div class="video-links">
    <h3>Session 3: The Network</h3>
    <span class="session-date">Ran on Saturday July 11, 2020</span>
    <ul class="stacked">
      <li>
        <a href="https://youtu.be/tKqwR8FcGJ4" target="_blank">MacCrawInTheJaw (Sean Bravo)</a>
      </li>
      <li>
        <a href="https://youtu.be/luUDva2Kpos" target="_blank"> NocFenix (GM: Contains Spoilers!)</a>
      </li>
    </ul>
  </div>

  After being able to regroup and catch their breaths, our group realized that they were no longer able to access The Network, communications were down off world.
  <br /><br />
  Hana XIII did a quick check with APOLLO and it turns out that before leaving the system, the mercenaries had tampered with the low orbit communications satelite, effectively cutting them off from everyone else.
  Along with this information, an interesting detail was picked up that the mercenaries were apparently getting orders from someone called going by the term: "BRTHUR."
  <br /><br />
  Most of the crew flew the Sled up into low orbit to work on repairs, while our Company Agent and Captain Sean investigated the abandoned Air Traffic Control Center.
  The building still functioned properly, however it was of dust and litered with dead rats.
  Investating the actual control room revealed a massive spiders nest, with very nasty looking, torso sized spiders.
  The two decided that something more would be needed before tackling the problem and returned back to the Admin Building.
  <br /><br />
  Unfortunately, a nasty surprise was awaiting them in the MedBay, where they were alerted to the vital signs of Marshal Mathers having flatlined.
  Checking in on him revealed that he appeared to have contracted some horrible disease of some kind that left him covered in hideous violet and black vericose veins.
  <br /><br />
  They suited up and prepared to dispose of the corpse, when he seemed to snap alive, opening eyes of pure black. A battle ensued with their former teammate, as he violently lashed out at them.
  Luckily, they were able to put him down, officially and decontaminate themselves.
  <br /><br />
  The rest of the group returned after a successful repair job to find the Marshal dead, and the other security member Private Raine, missing.
  In addition to this, it turns out the mercenaries were tracking to hack them back and submit some kind of malicious Working Joe override update on them.
  <br /><br />

  <div class="video-links">
    <h3>Session 4: Just Another Day In Hell</h3>
    <span class="session-date">Ran on Saturday July 25, 2020</span>
    <ul class="stacked">
      <li>
        <a href="https://youtu.be/XMEK_DTCosg" target="_blank">MacCrawInTheJaw (Sean Bravo)</a>
      </li>
      <li>
        <a href="https://youtu.be/s5WXtkGDs1A" target="_blank"> NocFenix (GM: Contains Spoilers!)</a>
      </li>
    </ul>
  </div>

  A representative from the Weyland-Yutani corporation showed up and discussed with CA Sean Bravo the previous arrangement held between former Colony Adminstrators and Weyland-Yutani regarding the unregistered Uranium Mine.
  Sean left the meeting, $50,000 richer, and under the impression that he'd successfully convinced the Weyland-Yutani rep that all arrangements had come to a close.
  <br /><br />
  Some of the group decided it would be a great idea to pest Bob, of Bob's General Supply, by calling him Robert. He did not seem to take well to this idea, and seemed to grow more and more irritated.
  <br /><br />
  Sorensen discovered a large salt flats with some sitting water a few kilometers away from the colony. He did collect a sample of the salt water.
  <br /><br />
  After getting a shipment in of 2 whole M240 Incinerator Units our group cleaned up the Air Traffic Control Center by erradicating the spiders nest that had grown there.
  Also found were the sad, gruesome remains of Private Raine; the chest cavity of his corpse having become a spider nest.
  <br /><br />
  Knowing that the threat of BRTHUR and his mercenaries is still out there, Sean and Adam did some successful Dark Web crawling to order off the black market a plethora of weaponry and other supplies.
  <br /><br />
  Also delivered to the Colony was the true Working Joe update tapes, along with an update for Hana XIII, and some extra cash for Adam.
  <br /><br />
  During the Working Joe update, all of the Joes were offline for an entire Shift, leaving one of the transport ships stuck waiting for them to boot up before they could be loaded and depart.
  As a result, some of the crew members of the ship got drunk and started a fight in the Casino, which Sean, Hana, and Adam helped break up; while Zoe and Sorensen enjoyed some steak.
  <br /><br />

  <div class="video-links">
    <h3>Session 5: Big BRTHUR is Watching You</h3>
    <span class="session-date">Ran on Saturday August 8, 2020</span>
    <ul class="stacked">
      <li>
        <a href="https://www.youtube.com/watch?v=vpsYg2aMjWE" target="_blank">MacCrawInTheJaw (Sean Bravo)</a>
      </li>
      <li>
        <a href="https://youtu.be/qADIzTgLCCw" target="_blank"> NocFenix (GM: Contains Spoilers!)</a>
      </li>
    </ul>
  </div>

  Things were going well, expensive, large, weapons were in transit, due to arrive in a week. The colony had continued to run without any hiccups. No more deaths or disappearances. And then, the call came in looking for Company Admin Grausman.
  <br /><br />
  Sean, of course took the call, knowing it had to be about his blackmarket weapons order. However, while stressing about it being a Seegson higher up, the person on the other end  happened to be BRTHUR, a David-style synth.
  <br /><br />
  BRTHUR told Sean that he had made an excellent move, but unfortunately it wasn't enough. He transmitted the identifying markers of the ship he was calling from and Sean realized it was the transport ship with all of the blackmarket goods.
  With a cold smile BRTHUR tapped some keys, and while Sean could do nothing but watch, he activated the ships self-destruct, stood up, said, "Check-mate; your move" and left, giving Sean the horror of watching as the countdown continued to the ship's destruction.
  <br /><br />
  After a scathing call with the Weyland-Yutani Company Agent (originally intended to get Weyland-Yutani's help with the BRTHUR situation), our crew returned to the wrecked ship to investigate it and see if it was the one the woman was searching for.
  <br /><br />
  A quick patch job over the reactor helped keep it from oozing radiation throughout the ship, and allowed the group to restore power throughout the ship.
  <br /><br />
  They discovered yet another nasty alien creature lurking the ship, apparently it had been locked in the Galley's walk-in freezer. After quickly dispatching the creature, they cleared the rest of the ship and collected the flight recorder.
  <br /><br />
  Meanwhile, Zoe, left behind to watch over the colony while the others were exploring the ship, found various ways to "entertain" herself without supervision...
  <br /><br />
  Sorensen, determined to fly a real ship once again, gave it his all and fired the engines, pulling the wreck up and out of the sands, bringing it back to the Landing Pad at Devil's Peak Colony.
  <br /><br />
  Hana immediately set a contingent of Working Joes to cleaning out the xenobiological corpses and samples, as well as starting repairs.
  <br /><br />
  Sean, confident that Weyland-Yutani would be happy about the ship find, simply informed the Company Agent that they did indeed find a ship, the <span class="ship-name">USCSS Prism</span>. She became ectatic, thanked Sean, and ended the call.
  <br /><br />
  Less than 30 minutes later APOLLO sent out a colony-wide announcement that Devil's Peak Colony had been purchased by Weyland-Yutani
  <br /><br />

  <div class="video-links">
    <h3>Session 6: Corporate Buyout</h3>
    <span class="session-date">Ran on Saturday August 29, 2020</span>
    <ul class="stacked">
      <li>
        <a href="https://www.youtube.com/watch?v=yZvpGMAI1JA" target="_blank">MacCrawInTheJaw (Sean Bravo)</a>
      </li>
      <li>
        <a href="https://youtu.be/MyNil-zKdwk" target="_blank"> NocFenix (GM: Contains Spoilers!)</a>
      </li>
    </ul>
  </div>

  The crew has been given an amazing deal. Double their salary. $100,00 sign on bonus. AND they get to claim the USCSS Prism as their own, which will be signed over to them after serving the Company for 7 years.
  <br /><br />
  However, everyone has some slight reservations about that fact that BRTHUR is apparently working with (for? over?) Weyland-Yutani Agent Lissa Evans.
  <br /><br />
  First stop, Anchorpoint station for fuel and other supplies. After that, it's their first mission for Weyland-Yutani directly.
  <br /><br />
  Bob, of Bob's General Supply Store back on Devil's Peak, has hitched a ride as a passenger to Ammon's Hearth. After dropping him off, the crew has been tasked with finding out what happened to communications at a colony at the ass-edge of known space.
  <br /><br />

  <div class="video-links">
    <h3>Session 7: Ammon's Hearth</h3>
    <span class="session-date">Ran on Saturday September 23, 2020</span>
    <ul class="stacked">
      <!-- <li>
        <a href="https://youtu.be/Y_AVgnM1O9o" target="_blank">MacCrawInTheJaw (Sean Bravo)</a>
      </li> -->
      <li>
        <a href="https://www.youtube.com/watch?v=cNcO1oP3D34" target="_blank"> NocFenix (GM: Contains Spoilers!)</a>
      </li>
    </ul>
  </div>

  During the approach to Ammon's Hearth the crew came across a debris field left behind by a destroyed USCMC Conestoga Class Ship. Unfortunately going through the debris field triggered the detonation of one of the orbital mines, damaging the enginges and cryo systems.
  <br /><br />
  Everyone apart from Adam and Bolt were able to awakened and repair the damage, except for the cryo systems, as they require special parts that are not on hand.
  <br /><br />
  Afterwards they were able to safely continue onward to Ammon's Hearth, a space station run by a zealous group of religious women who believe men are subpar citizens.
  <br /><br />
  While the boys stayed on the ship to avoid confrontations with the women of Ammon's Hearth, Zoe and Hana ventured into the station to procure parts and drop off Bob Levine.
  <br /><br />
  Unfortunately, Bob ended up having a less-than-satisfactory trip to Ammon's Hearth, and the women there begged the crew to take him away, including paying $5,000 for them to do so.
  Also, unfortunatley, they were unable to get the supplies to repair the cryo chamber, and needed to take a trip to the nearby colony on Alpha Fornacis, where they could exchange sheet metal and other construction materials for the cryo parts.
  <br /><br />
  The planet of Alpha Fornacis has a highly toxic and corrosive atmosphere. Sometimes during the descent through the nasty cloud cover, something terrible happened to Bob.
  <br /><br />
  Investigation revealed he has somehow been infected with an alien embryo, which burst forth from him during the trip to the planet's surface.
  After landing, the crew searched through the ventilation system to find the creature and destroy it.
  <br /><br />
  They made their way to the Air Scrubbers where they found a fully formed Queen. Combat ensued, with shots and reloads expended, the Queen flailing and screeching.
  Ultimately Hana saved Sean's life by jumping between the Queen and him as she tried to piece his brain with her inner jaw. She then followed up by slicing the front half of the Queen's face off with a cutting torch, destroying the beast.
  <br /><br />

  <div class="video-links">
    <h3>Session 8: Revelations of Alpha Fornacis</h3>
    <span class="session-date">Ran on Saturday October 10, 2020</span>
    <ul class="stacked">
      <!-- <li>
        <a href="https://youtu.be/Y_AVgnM1O9o" target="_blank">MacCrawInTheJaw (Sean Bravo)</a>
      </li> -->
      <li>
        <a href="https://www.youtube.com/watch?v=WDIdiOaO6-Y" target="_blank"> NocFenix (GM: Contains Spoilers!)</a>
      </li>
    </ul>
  </div>

  With the Queen dead our crew turned to getting the parts necessary to fix up their Cryochamber, which has officially kicked the bucket after rudely, and violently awakening Adam and Bolt.
  <br /><br />
  Opening the vehicle bay doors to perform the exchange of goods ended in a massive firefight between our crew and the crew of the Deviance, led by BRTHUR.
  <br /><br />
  The firefight ended with BRTHUR and most of his crew down, and one of them deciding it would be better to kill everyone, then just let only themselves die. Her final words called out, "Fuck you all" as she hit a detonator, destroying the fuel cells.
  <br /><br />
  The blast took out most of the protective hull of the hangar, exposing everyone to the toxic, corrosive atmosphere of Alpha Fornacis. Quickly the crew sealed up the ship and fled the nasty planet.
  <br /><br />
  Once in orbit they came to odds about how to proceed, with Bolt stealing the shuttle to investigate a nearby ship. After deciding the ship was safe to approach, the crew flew the Prism closer to dock and investigate.
  <br /><br />
  Inside they found dead men walking and had to take out the remains of the crew who'd been infected with some kind of disease that apparently turned them into zombies.
  <br /><br />
  Having helped the lone survivor on the ship, Corporal Smith, clear it, they now must decide how to proceed.
  <br /><br />

  <div class="video-links">
    <h3>Session 9: Between a Hammer and Sickle</h3>
    <span class="session-date">Will run on Saturday October 24, 2020</span>
    <ul class="stacked">
      <!-- <li>
        <a href="https://youtu.be/Y_AVgnM1O9o" target="_blank">MacCrawInTheJaw (Sean Bravo)</a>
      </li> -->
      <li>
        <a href="https://www.youtube.com/watch?v=zv_JXpiwSaM" target="_blank"> NocFenix (GM: Contains Spoilers!)</a>
      </li>
    </ul>
  </div>

  BRTHUR, who refuses to just give in and die, somehow survived the corrosive atmosphere of Alpha Fornacis. As a result, he sent a broadcast letting Captain Sean know that the "game was still on."
  <br /><br />
  Shortly after 2 UPP battleships, as well as a USS one, dropped out of FTL and converged upon the USS Valiant. A formidable space battle ensued in which both UPP battleships were destroyed, along with the USCSS Prism.
  <br /><br />
  The USS Hammerhead then alerted the crew that they would escort them back to Ammon's Hearth where Weyland-Yutani would get them a replacement ship.
  <br /><br />
  During the trip to Ammon's Hearth, it was discovered that someone named Ollander Five, had possession of 3 ovomorphs, and had stashed one in Bob's trunk to infect the man. Along with this information they realized that there were potentially two more still at the station they were supposed to be rendezvousing at.
  <br /><br />
  Having alerted their escort ship, the USS Hammerhead, they can now only wonder at what awaits them back at Ammon's Hearth.
  <br /><br />

  <div class="video-links">
    <h3>Session 10: Old Bucket of Bolts</h3>
    <span class="session-date">Ran on Saturday November 7, 2020</span>
    <ul class="stacked">
      <!-- <li>
        <a href="https://youtu.be/Y_AVgnM1O9o" target="_blank">MacCrawInTheJaw (Sean Bravo)</a>
      </li> -->
      <li>
        <a href="https://www.youtube.com/watch?v=FuKr1F3VLT8" target="_blank"> NocFenix (GM: Contains Spoilers!)</a>
      </li>
    </ul>
  </div>


</div>