<div class="navbar">
  <hr>
  
  <h1>Campaigns<span *ngIf="campaignName" [innerHTML]='campaignName'></span></h1>
  <ul>
    <li class="nav"><a class="expander" (click)="setCampaign('the-undying-light')" [routerLink]="['the-undying-light', 'background']"><i class="far fa-sun"></i> The Undying Light</a></li>
    <li class="nav"><a class="expander" (click)="setCampaign('helix-pbp')" [routerLink]="['helix-pbp', 'background']"><i class="fas fa-dna"></i> Helix Play-by-Post</a></li>
    <li class="nav"><a class="expander" (click)="setCampaign('luna-umbra')" [routerLink]="['luna-umbra', 'background']"><i class="fas fa-moon"></i> Luna Umbra (Completed)</a></li>
    <li class="nav"><a class="expander" (click)="setCampaign('ferro-outpost')" [routerLink]="['ferro-outpost', 'background']"><i class="fas fa-parachute-box"></i> Ferro Outpost (Cinematic)</a></li>
    <li class="nav"><a class="expander" (click)="setCampaign('dark-edge')" [routerLink]="['dark-edge', 'story']"><i class="fas fa-user-astronaut"></i> Dark Edge of Space (Story)</a></li>
  </ul>
  
  <div *ngIf="campaignUrl && !isStory">
    <hr />
    <ul>
      <li class="nav"><a [routerLink]="[campaignUrl, 'background']" (click)='setTitle("Background")' routerLinkActive="active-link">Background</a></li>
      <li class="nav"><a (click)='setTitle("Locations")' [routerLink]="[campaignUrl, 'locations']" routerLinkActive="active-link">Locations</a></li>
      <li class="nav"><a (click)='setTitle("Player Characters")' [routerLink]="[campaignUrl, 'characters','pc']" routerLinkActive="active-link">Player Characters</a></li>
      <li class="nav"><a (click)='setTitle("Non-Player Characters")' [routerLink]="[campaignUrl, 'characters','npc']" routerLinkActive="active-link">Non-Player Characters</a></li>
      <li class="nav" *ngIf='hasSalaries'><a (click)='setTitle("Salaries & Expenses")' [routerLink]="[campaignUrl, 'salaries-and-expenses']" routerLinkActive="active-link">Salaries and Expenses</a></li>
    </ul>
  </div>
  
  <hr>
</div>

<router-outlet></router-outlet>