<hr>

<h1>Alien RPG: The Undying Light</h1>

<ul>
  <li><a [routerLink]="['/background']" routerLinkActive="active-link">Background</a></li>
  <li><a [routerLink]="['/locations']" routerLinkActive="active-link">Locations</a></li>
  <li><a [routerLink]="['/characters/pc']" routerLinkActive="active-link">Player Characters</a></li>
  <li><a [routerLink]="['/characters/npc']" routerLinkActive="active-link">Non-Player Characters</a></li>
  <li><a [routerLink]="['/salaries-and-expenses']" routerLinkActive="active-link">Salaries and Expenses</a></li>
</ul>

<hr>
