<h1>Salaries and Expenses</h1>

<h3 class="expander" (click)="toggleShowSalaries()">Salaries</h3>
<div [hidden]="!showSalaries">
  <div>
    <span class="title">Colony Administrator</span>
    <br/>
    $ 1500/wk
    <br />
    <span class="assignee">Sean Bravo</span>
    <br/>
    <br/>
  </div>

  <div>
    <span class="title">Company Liaison</span>
    <br/>
    $ 850/wk
    <br />
    <span class="assignee">Adam Baker</span>
    <br/>
    <br/>
  </div>

  <div>
    <span class="title">Medical Personnel</span>
    <br/>
    $ 750/wk
    <br />
    <span class="assignee">Zoe Price</span>
    <br/>
    <br/>
  </div>

  <div>
    <span class="title">Security Personnel</span>
    <br/>
    $ 650/wk
    <br />
    <span class="assignee">Jeremy Mathers</span>
    <br />
    <span class="assignee">Nile Raine</span>
    <br/>
    <br/>
  </div>

  <div>
    <span class="title">Support Staff</span>
    <br/>
    $ 550/wk
    <br />
    <span class="assignee">Jason Sorensen</span>
    <br/>
    <span class="assignee">Roy "Bolt" Stark</span>   
    <br/>
    <br/>
  </div>
</div>

<h3 class="expander" (click)="toggleShowHousing()">Housing Expenses</h3>
<div [hidden]="!showHousing">
  <div>
    <span class="title">Shared Room With Bunks</span>
    <br/>
    $ 250/wk
    <br/>
    <br/>
  </div>

  <div>
    <span class="title">Studio Apartment</span>
    <br/>
    $ 575/wk
    <br/>
    <br/>
  </div>

  <div>
    <span class="title">Nice Apartment</span>
    <br/>
    $ 1200/wk
    <br/>
    <br/>
  </div>

  <div>
    <span class="title">Marshal's Quarters</span>
    <br/>
    $ 375/wk
    <br/>
    <br/>
  </div>

</div>

<h3 class="expander" (click)="toggleShowFoodPlans()">Food Plans</h3>
<div [hidden]="!showFoodPlans">
  <div>
    <span class="title">Mess Hall</span>
    <br/>
    $ 70/wk
    <br/>
    <br/>
  </div>

  <div>
    <span class="title">Anderson's Bar and Grill</span>
    <br/>
    $ 150/wk
    <br/>
    <br/>
  </div>

  <div>
    <span class="title">Executive Meals</span>
    <br/>
    $ 250/wk
    <br/>
    <br/>
  </div>

</div>