<h1>Non-Player Characters</h1>

<div class="character">
  <img class="avatar" src="../../../assets/images/alina.png" />
  <h3>Alina</h3>
  <div class="bio">
    An attractive red-headed woman who strives for a sense of aloofness and charm.
    <br/>
    She ensures that all of her patrons, and employees, are well cared for.
    <br />
    She is the owner of Alina's House of Pleasures.
    <br />
  </div>
</div>

<div class="character">
  <img class="avatar" src="../../../assets/images/turner.png" />
  <h3>Billy Turner</h3>
  <div class="bio">
    A young man with a mischevious grin.
    <br />
    He can often be found in Casino "repairing" slot machines.
    <br />
    He is also the unofficial Blackjack Dealer for the Casino.
    <br />
  </div>
</div>

<div class="character">
  <img class="avatar" src="../../../assets/images/levine.png" />
  <h3>Bob Levine</h3>
  <div class="bio">
    Owner of Bob's General Surplus Store.
    <br />
    A frumpy old man with a grumpy attitude. He has no issues haggling, but once you get on his badside, he'll not budge.
    <br />
    A company man through and through, he prefers to only take Seegbills.
    <br />
  </div>
</div>

<div class="character">
  <img class="avatar" src="../../../assets/images/butler.png" />
  <h3>Gary Butler</h3>
  <div class="bio">
    Owner of the Get Inked tattoo shop.
    <br />
    He loves to flirt with any of the beautiful woman around.
    <br />
    For some reason he seems to have a distaste for Alina.
    <br />
  </div>
</div>

<div class="character">
  <img class="avatar" src="../../../assets/images/hees.png" />
  <h3>Jason V. Hees</h3>
  <div class="bio">
    Owner of the Rugged Outfitters clothing shop and the USCMC Surplus Store.
    <br />
    He is a very reserved and quiet individual.
    <br />
    Not many people have gotten him to open up, and as such his background is shrouded in mystery.
    <br />
  </div>
</div>

<div class="character">
  <img class="avatar" src="../../../assets/images/anderson.png" />
  <h3>Jo Anderson</h3>
  <div class="bio">
    Runs Anderson's Bar and Grill.
    <br />
    She's a fairly jovial person to spend time around.
    <br />
    Despite constantly giving out free drinks and meals, she manages to turn a profit.
    <br />
  </div>
</div>

<div class="character">
  <img class="avatar" src="../../../assets/images/lee.png" />
  <h3>Ruthanne Lee</h3>
  <div class="bio">
    Owner of Lee's Liquor and Smoke Shop.
    <br />
    She's a very pleasant person to interact with, always greeting customers with a warm smile and "howdy ya'll."
    <br />
    She's hinted at something she calls her "secret sauce," what could it be?
    <br />
  </div>
</div>

<div class="character">
  <img class="avatar" src="../../../assets/images/vixen.png" />
  <h3>Vixen</h3>
  <div class="bio">
    By day, Vixen runs the Hair and Nail Salon.
    <br />
    By "night", she is an "employee" at Alina's House of Pleasures.
    <br />
  </div>
</div>
